---

title: 职业发展
layout: default-zh-CN
permalink: /zh-CN/careers

headline: 职业发展
subhead: "我们正在寻找充满激情，才华横溢的人才加入我们的团队。每一分，每一刻，总是充满新的挑战。扩展您的技能和知识。
"
---

<section id="hero">
  <div class="row">
    <div class="column small-12 medium-8 large-7">
      <h1>{{ page.headline }}</h1>
      <p class="lead">{{ page.subhead }}</p>
    </div>
  </div>
</section>

<section id="values" class="text-center">
  <div class="row">
    <div class="column">
      <h2>聘请</h2>
    </div>
  </div>
  <div class="row collapse">
    <div class="column">
        {% assign positions = site.careers-zh-CN | group_by: 'category' %}
        {% for group in positions %}
          <h3>{{ group.name }}</h3>
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            {% for item in group.items %}
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">{{ item.title }}</a>
                <div class="accordion-content" data-tab-content>
                  {{ item.content }}
                  <a href="{{ item.link }}" class="button">申请职位</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
    </div>
  </div>
</section>
