---

title: Homepage
layout: default-zh-CN
permalink: /zh-CN/

headline: Edgeset——轻松让您数据一体化	
subhead: 轻量级代码～数据虚拟化～数据安全


specialties:
  headline: EdgeSet以让技术和业务部门用户在10秒内连接不同的数据库
  sections:
    - 360度客户视角和跨数据平台的收益透视
    - 告别单调麻木的数据ETL
    - 1-2年部署，减至1-2天
work:
  headline: EdgeSet从10+云端和本地部署数据库摄取数据，并输出到你最爱用的BI工具，将所有必须的数据整合入单一接口
  subhead: > 
    我们深受来自对冲基金、零售行业、电子商务、银行业、金融科技、医疗保健客户的信任，因为我们：
  sections:
    - 可拓展，可信赖——数据库千万亿字节数据实时分析
    - 数据权限监控和隐私控制
    - 以1/10的价格提供本地/云端安全服务
---

<section id="hero">
	<div class="row">
		<div class="column small-12 large-8">
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="column small-12 medium-8 large-6">
			<p class="lead">
				{{ page.subhead }}
			</p>
			<a href="#specialties">
				<img src="/assets/images/icon-arrow-down.svg">
			</a>
		</div>
	</div>
</section>

<section id="specialties" class="text-center">
	<div class="row">
		<div class="column">
			<h2>{{ page.specialties.headline }}</h2>
		</div>
	</div>
	<div class="row small-up-1 medium-up-2 large-up-3 align-center">
		{% for item in page.specialties.sections %}
			<div class="column item-{{ forloop.index }}">
				<div class="gradient-circle">
					<div class="inner">
						<p>{{ item }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section id="work" class="text-center bg-gray">
	<div class="row">
		<div class="column">
			<h2>{{ page.work.headline }}</h2>
			<h3>{{ page.work.subhead }}</h3>
		</div>
	</div>
	<div class="row small-up-1 medium-up-3">
		{% for item in page.work.sections %}
			<div class="column">
				<p>{{ item }}</p>
			</div>
		{% endfor %}
	</div>
	<div class="row" style="margin-top: 3em;">
		<div class="column">
			<a href="mailto:contact@tetmon.com" class="button" style="font-size: 1.1rem;">联系我们，免费获得2周的试用权限。您尽可放心，我们不会有权限访问您的内部数据。</a>
		</div>
	</div>
</section>
