---

title: Homepage
pagetitle: No-code virtual data warehouse for anyone, within minutes
layout: default-zh-CN
permalink: /zh-CN/

headline: Tetmon EdgeSet
subhead: 几分钟内获得无代码的虚拟数据仓库
action: 安排产品演示

calendly: https://calendly.com/hyinghan

problem:
 experience:
    headline: "为各个企业提供 DevOps、数据和数据库的专业服务后，我们注意到无论是哪个行业都有一个共同的痛点:"
    paintpoints:
     - 高管、运营、财务、业务发展、技术、客户体验，都需要准确的数据来高效运营，但所需的数据通常分布在不同的数据库中
     - 中央数据库提供了巨大的好处，但设置起来既困难又昂贵
 summary:
    headline: "建立中央数据仓库需要:"
    details:
      - 1-2 年
      - 数十至数百万美元
      - "10-20 名工程师"
    icons:
      - {name: 'clock', title: 'Clock', src: 'icon-clock.svg'}
      - {name: 'millions', title: 'Millions of dollars', src: 'icon-money.svg'}
      - {name: 'engineers', title: 'Engineers', src: 'icon-engineers.svg'}
 
specialties:
  headline: Edgeset 将各种云和本地数据库集成到单一访问点 这样您无需技术专业知识，就能轻松查询组织内的海量数据
  caption: 数据集合层
  other: 以及其他本地和云数据库.
  icons:
    tools:
      - {title: 'DBeaver', src: 'DBeaver.svg'}
      - {title: 'Metabase', src: 'Metabase.svg'}
      - {title: 'Python', src: 'Python.svg'}
      - {title: 'Redash', src: 'Redash.svg'}
      - {title: 'Superset', src: 'Superset.svg'}
      - {title: 'Tableau', src: 'Tableau.svg'}
    sources_1:
      - {title: 'Alibaba OSS', src: 'OSS.svg'}
      - {title: 'Amazon Redshift', src: 'Redshift.svg'}
      - {title: 'Apache Kafka', src: 'Kafka.svg'}
      - {title: 'ElasticSearch', src: 'Elasticsearch.svg'}
      - {title: 'Google BigQuery', src: 'BigQuery.svg'}
      - {title: 'Microsoft SQL Server', src: 'SQL-Server.svg'}
    sources_2:
      - {title: 'Excel', src: 'Excel.svg'}
      - {title: 'Sheets', src: 'Google-Sheets.svg'}    
      - {title: 'MongoDB', src: 'MongoDB.svg'}   
      - {title: 'MySQL', src: 'MySQL.svg'}
      - {title: 'PostgreSQL', src: 'PostgreSQL.svg'}
      - {title: 'Amazon S3', src: 'S3.svg'}

partners:
  headline: 我们的合作伙伴与客户
  companies: 
    - {title: 'ICS&S', src: 'icss.png'}
    - {title: 'Pactera', src: 'pactera.png'}
    - {title: 'Terminus', src: 'terminus.png'}

offering:
  benefits:
    headline: EdgeSet 核心优势
    highlights:
      - {title: "自动化: <br/> 减少错误及节约时间", name: "automation", src: 'icon-fasttime.svg'}
      - {title: "节约成本", name: "savings", src: 'icon-finance.svg'}
      - {title: "增强企业洞悉及可视化能力", name: "insight",  src: 'icon-insight.svg'}
    description: 数据转换更加便宜和容易 减少ETL和数据工程需求
  features:
    headline: 特征
    subhead: 数据转换更加容易
    highlights:
      - {title: 用户访问+隐私控制, name: 'privacy', src: 'icon-privacy.svg'}
      - {title: "数据发现: <br/> 消除了对 Hive/AWS Glue 的需求
			", name: 'discovery', src: 'icon-magnify.svg'}
      - {title: 安全的内部部署/<br/>Web 部署，成本只是其中的一小部分, name: 'onpremise', src: 'icon-server.svg'}
    description: 4 周减少到40分钟

casestudies:
  headline: 案例
  subhead: 新加坡顶尖金融企业使用 EdgeSet 链接多个 Excel，节省成本
  timeline:
    - title: 使用EdgeSet之前
      list:
        - 5 人运营团队必须定期工作到午夜，以核对交易
        - 错误数据分析阻碍交易
    - title: 使用 EdgeSet 之后
      list:
        - 错误数据分析阻碍交易
        - 自动化减少了人工检查
    - title: 成本效益
      list:
        - 每天节省 6 个工时
    - title: 其他效益
      list: 
        - 更好的交易分析
        - 减少人为错误
  footer: "<b>Next stage</b>: Expand usage of EdgeSet from Operations team to firm-wide; joining Excels with internal data sources"

deployment:
  headline: 部署
  subhead: EdgeSet 可在 1 到 5 个工作日内完成部署
  timeline:
    - 签署订单并决定数据来源
    - 30 分钟现场或视频演练
    -  客户提供数据源详细信息
    - 30分钟视频通话，确保部署成功
  footer: 您可以快速获得收益，并展示业务洞察力
  action: 立即安排演示

---


<section id="hero">
  <div class="row flex-dir-column wrapper">
    <div class="column small-12 large-8 flex-child-shrink">
      <h1>{{ page.headline }}</h1>
    </div>
    <div class="column small-12 medium-8 large-6 flex-child-grow">
      <p class="lead">
        {{ page.subhead }}
      </p>
      <a href="{{page.calendly}}" target="_blank">
        <button class="action">{{page.action}}</button>
      </a>
    </div>
    <div class="column partners flex-child-shrink">
      <p>{{ page.partners.headline }}</p>
      <div class="row">
        {% for item in page.partners.companies %}
          <img alt="{{item.title}}" src="/assets/images/{{item.src}}"/>
        {% endfor %}
      </div>
    </div>
  </div>
  <img aria-hidden="true" class="cover" src="/assets/images/pattern-homepage.svg"/>
</section>

<section id="problem" class="inline">
  <div class="grid-x grid-padding-x">
    <div class="column detail large-auto cell">
      <h4 class="subhead">
        {{page.problem.experience.headline}}
      </h4>
      {% for item in page.problem.experience.paintpoints %}
        <p class="paint-point">{{item}}</p>
      {% endfor %}
    </div>
    <div class="column summary large-auto cell">
      <div>
        <h5 class="text-center">
          {{page.problem.summary.headline}}
        </h5>
        <div class="column">
          {% for item in page.problem.summary.details %}
            <div class="row align-middle">
              <div class="icon-wrapper">
                {% assign counter = forloop.index | minus: 1 %}
                {% assign icon = page.problem.summary.icons[counter] %}
                <img class="icon-{{icon.name}} inline-icon" alt="{{icon.title}}" src="/assets/images/{{icon.src}}"/>
              </div>
              <span>{{item}}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="specialties">
  <h4 class="subhead">
    {{page.specialties.headline}}
  </h4>
  <div class="wrapper">
    <div class="grid top-grid">
      {% for item in page.specialties.icons.tools %}
        <div class="logo">
          <img class="inline-icon" alt="{{item.title}}" src="/assets/images/icons/{{item.src}}"/>
          <h6 class="caption">{{item.title}}</h6>
        </div>
      {% endfor %}
    </div>
    <div class="integration">
      <div>
        <img class="inline-icon" alt="tetmon" src="/assets/images/tetmon-logo.svg"/>
        <h4>{{page.specialties.caption}}</h4>
      </div>
    </div>
    <div class="grid source-top-grid">
      {% for item in page.specialties.icons.sources_1 %}
        <div class="logo">
          <img class="inline-icon" alt="{{item.title}}" src="/assets/images/icons/{{item.src}}"/>
          <h6 class="caption">{{item.title}}</h6>
        </div>
      {% endfor %}
    </div>
    <div class="grid source-bottom-grid">
      {% for item in page.specialties.icons.sources_2 %}
        <div class="logo">
          <img class="inline-icon" alt="{{item.title}}" src="/assets/images/icons/{{item.src}}"/>
          <h6 class="caption">{{item.title}}</h6>
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="description other">{{page.specialties.other}}</p>
</section>


<section id="offerings" class="inline">
  <div class="benefits">
    <h3 class="headline">{{page.offering.benefits.headline}}</h3 >
    <div class="row medium-unstack">
      {% for item in page.offering.benefits.highlights %}
        <div class="columns card text-center flex-dir-column">
          <img alt="{{item.title | strip_html}}"  class="icon-{{item.name}} inline-icon" src="/assets/images/cards/{{item.src}}"/>
          <p>{{item.title}}</p>
        </div>
      {% endfor %}
    </div>
    <p class="description">{{page.offering.benefits.description}}<p>
  </div>
  <div class="features">
    <div class="head">
      <h2 class="headline">{{page.offering.features.headline}}</h2>
    </div>
    <div class="row medium-unstack">
      {% for item in page.offering.features.highlights %}
        <div class="columns card text-center flex-dir-column">
          <img alt="{{item.title | strip_html}}"  class="icon-{{item.name}} inline-icon" src="/assets/images/cards/{{item.src}}"/>
          <p>{{item.title}}</p>
        </div>
      {% endfor %}
    </div>
    <p class="description">{{page.offering.features.description}}<p>
  </div>
</section>

<section id="casestudies" class="inline">
  <div class="head">
    <h2 class="headline">{{page.casestudies.headline}}</h2>
    <h4 class="subhead">
      {{page.casestudies.subhead}}
    </h4>
  </div>
  <div class="scroller">
    {% for item in page.casestudies.timeline %}
      <div class="phase">
        <h5 class="title">{{item.title}}</h5>
        <div class="detail">
          <ul>
            {% for entry in item.list %}
              <li>{{entry}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section id="deployment" class="inline">
  <div class="head">
    <h2 class="headline">{{page.deployment.headline}}</h2>
    <h4 class="subhead">{{page.deployment.subhead}}</h4>
  </div>
  <div class="row medium-unstack flex-dir-column align-middle">
    {% for item in  page.deployment.timeline%}
      <div class="columns card text-center">
        <div class="triangle triangle-1"></div>
        <div class="triangle triangle-2"></div>
        <p>{{item}}</p>
      </div>
    {% endfor %}
  </div>
  <div class="cta">
    <a href="{{page.calendly}}" target="_blank">
      <button class="action">{{page.deployment.action}}</button>
    </a>
  </div>
</section>
