footer {
  color: $white;
  padding: rem-calc(80px) 2em;
  background-color: white;

  > .row {
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(xsmall up) {
      flex-direction: row-reverse;
    }
  }

  p {
    color: $dark-gray;
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $dark-gray;
    }

    &[href^="mailto:"] {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  small {
    font-size: rem-calc(14px);
  }

  .left-column {
    text-align: center;
    margin-top: rem-calc(50px);
    @include breakpoint(xsmall up) {
      text-align: none;
      margin-top: 0;
    }
    .column {
      padding-left: 0;
      padding-right: 0;
      p {
        margin-top: rem-calc(5px);
      }
    }
  }

  .right-column {
    .contact {
      padding-top: rem-calc(5px);
      text-align: center;
      @include breakpoint(xsmall up) {
        text-align: right;
      }
    }
  }

  .menu {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-start;

    li.item {
      a {
        padding-top: 0;
        padding-bottom: rem-calc(25px);
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: rem-calc(20px);
        color: $dark-gray;
        &:hover {
          color: $primary-color;
        }
        &:first-child {
          margin-left: 0;
        }
        @include breakpoint(medium up) {
          padding-bottom: rem-calc(11px);
          margin-right: rem-calc(40px);
        }
      }

      &.active {
        a {
          background-color: transparent;
          color: $primary-color;
        }
      }

      @include breakpoint(small down) {
        margin-bottom: rem-calc(20px);
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}