#hero {
	@extend .bg-primary;
	position: relative;
	min-height: 100vh;
	padding-top: 10rem;
	padding-bottom: 0;
	color: $white;

	background-size: 1366px auto;
	background-position: right bottom;
	background-repeat: no-repeat;
	transition: background-size 0.5s;

	.action {
		padding: rem-calc(20px);
		background: $primary-color;
		border-radius: em-calc(5px);
		border: 2px solid $white;
		color: $white;
		font-size: rem-calc(17px);
		font-weight: 600;
		cursor: pointer;
		&:hover {
			background: rgba($white, 0.1);
		}
	}

	.wrapper {
		position: relative;
		min-height: calc(100vh - 200px);
		z-index: 1;
	}

	.cover {
		position: absolute;
		pointer-events: none;
		object-fit: cover;
		width: 500px;
		height: 500px;
		bottom: 0;
		right: 0;
		opacity: 0.8;
		transition: width 0.5s, height 0.5s;
		@include breakpoint(medium up) {
			width: 1300px;
			height: 700px;
			opacity: 0.9;
		}
	}

	.partners {
		max-width: 500px;
		p {
			margin-bottom: rem-calc(20px);
			text-align: left;
			color: $white;
			font-size: rem-calc(17px);
			font-weight: 500;
			@include breakpoint(medium up) {
				margin-bottom: rem-calc(25px);
				font-size: rem-calc(19px);
			}
		}
		.row {
			gap: 20px;
			padding-left: 10px;
			@include breakpoint(medium up) {
				padding-left: 20px;
			}
			img {
				width: rem-calc(110px);
				height: rem-calc(25px);
				@include breakpoint(medium up) {
					height: rem-calc(30px);
				}
			}
		}
	}

	.homepage & {
		p.lead {
			margin-top: rem-calc(8px);
			margin-bottom: rem-calc(40px);
			max-width: rem-calc(400px);
			font-size: rem-calc(17px);

			@include breakpoint(xlarge up) {
				margin-bottom: rem-calc(46px);
				font-size: rem-calc(19px);
			}
		}
	}
	
	.about & {
		background-image: url(../images/pattern-about.svg);

		@include breakpoint(medium down) {
			background-size: 1000px auto;
			background-position: right -150px bottom;
		}

		@include breakpoint(small down) {
			background-size: 600px auto;
			background-position: right -100px bottom;
		}
	}

	.industry & {
		background-image: url(../images/pattern-industry-top.svg);
		background-position: center bottom;
		position: relative;

		@include breakpoint(small down) {
			background-size: 900px auto;
			background-position: right -180px bottom;
		}

		@include breakpoint(medium only) {
			background-size: 1000px auto;
		}

		@include breakpoint(medium up) {
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -300px;
				height: 300px;
				left: 0;
				right: 0;

				background-image: url(../images/pattern-industry-bottom.svg);
				background-size: 1000px auto;
				background-position: center top;
				background-repeat: no-repeat;

				pointer-events: none;
			}
		}

		@include breakpoint(large up) {
			&:after {
				background-size: 1366px auto;
			}
		}
	}

	.careers & {
		background-image: url(../images/pattern-careers.svg);
		background-size: 600px auto;

		@include breakpoint(medium up) {
			background-size: auto 760px;
		}
	}
}