h1 {
	margin-bottom: rem-calc(20px);
	font-size: rem-calc(36px);
	line-height: rem-calc(40px);
	letter-spacing: -0.02em;

	@include breakpoint(medium up) {
		margin-bottom: rem-calc(30px);
		font-size: rem-calc(48px);
		line-height: 1;
	}

	@include breakpoint(xlarge up) {
		margin-bottom: rem-calc(30px);
		font-size: rem-calc(72px);
		line-height: 1;
	}
}

h2 {
	letter-spacing: -0.025em;
	font-weight: 700;
	color: $primary-color;

	margin-bottom: rem-calc(60px);
}

h3 {
	font-weight: 600;
	margin-bottom: rem-calc(60px);
}

h4 {
	@include breakpoint(large up) {
		font-size: rem-calc(20px);
	}
	@include breakpoint(xlarge up) {
		font-size: rem-calc(22px);
	}
	line-height: 1.6;
}

h5 {
	font-size: rem-calc(17px);
	line-height: 1.6;
	@include breakpoint(large up) {
		font-size: 19px;
	}
}

p, p.lead {
	font-size: rem-calc(16px);
	line-height: 1.6;
	@include breakpoint(large up) {
		font-size: rem-calc(19px);
	}
}