---

title: About
layout: default
permalink: /about

headline: "About<br>Tetmon"
subhead: "Tetmon’s EdgeSet eliminates the need for ETL or a traditional data warehouse (DWH). Instead of shifting the DWH into the cloud, EdgeSet reconstructs DWH from first principles. EdgeSet create a virtual representation of all your data centrally, then fetches the data from the edges when you require it."
values:
  headline: EdgeSet, trusted by Industry Leaders
  sections:
    - EdgeSet was chosen to represent Singapore to a deeptech summit in China in late 2020
    - Chinasoft, one of China's largest System Integrators with over 70,000 employees globally, distributes EdgeSet in Greater China 
    - Tool of choice by top funds, NGOs, proptech players, and more 

---

<section id="hero">
  <div class="row">
    <div class="column small-12 medium-8 large-7">
      <h1>{{ page.headline }}</h1>
      <p class="lead">{{ page.subhead }}</p>
    </div>
  </div>
</section>

<section id="values" class="text-center">
  <div class="row">
    <div class="column">
      <h2>{{ page.values.headline }}</h2>
    </div>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-3 align-center">
    {% for item in page.values.sections %}
      <div class="column item-{{ forloop.index }}">
        <p>
          {{ item }}
        </p>
        <hr>
      </div>
    {% endfor %}
  </div>
</section>

<section id="founders" class="text-center">
  <div class="row">
    <div class="column">
      <h2>Founders</h2>
    </div>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-3 align-center">
    {% for person in site.founders %}
      <div class="column founders-column">
        <img src="assets/images/{{ person.image }}">
        <h4>
          {{ person.name }}
        </h4>
        {{ person.content }}
      </div>
    {% endfor %}
  </div>
</section>
