---

title: Homepage
layout: default
permalink: /

headline: EdgeSet - data integration made easy
subhead: low-code . data-virtualisation . data-security

specialties:
  headline: EdgeSet enables both technical & business users to join disparate databases, in 10 seconds
  sections:
    - 360 customer view & cross-database revenue insights, by the time you finish reading this
    - No more mind-numbing, error-prone ETL work
    - Setup in 1-2 days, not 1-2 years
work:
  headline: EdgeSet ingests from 10+ cloud & on-prem databases, and outputs to your favourite BI tools like Python, Tableau
  subhead: Clients across retail, ecommerce, banking, fintech, hedge funds, healthcare trust us, due to - 
  sections:
    - Scalability & Reliabilty   (we operate at PB scale, with automated conversion & probing)
    - Data access monitoring & privacy controls   (for MAS remote working & ISO27001 compliance)
    - Secure web/ on-prem, at 1/10 the cost 

---

<section id="hero">
	<div class="row">
		<div class="column small-12 large-8">
			<h1>{{ page.headline }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="column small-12 medium-8 large-6">
			<p class="lead">
				{{ page.subhead }}
			</p>
			<a href="#specialties">
				<img src="assets/images/icon-arrow-down.svg">
			</a>
		</div>
	</div>
</section>

<section id="specialties" class="text-center">
	<div class="row">
		<div class="column">
			<h2>{{ page.specialties.headline }}</h2>
		</div>
	</div>
	<div class="row small-up-1 medium-up-2 large-up-3 align-center">
		{% for item in page.specialties.sections %}
			<div class="column item-{{ forloop.index }}">
				<div class="gradient-circle">
					<div class="inner">
						<p>{{ item }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section id="work" class="text-center bg-gray">
	<div class="row">
		<div class="column">
			<h2>{{ page.work.headline }}</h2>
			<h3>{{ page.work.subhead }}</h3>
		</div>
	</div>
	<div class="row small-up-1 medium-up-3">
		{% for item in page.work.sections %}
			<div class="column">
				<p>{{ item }}</p>
			</div>
		{% endfor %}
	</div>
	<div class="row" style="margin-top: 3em;">
		<div class="column">
			<a href="mailto:contact@tetmon.com" class="button">Email us now for a complimentary 2 week trial, where we will have ZERO access to your internal data</a>
		</div>
	</div>
</section>
